/* body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;} */
.navlinks a {
    color: white;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    cursor: none;
}